.grid__project {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(18, 1fr);
  width: min(200vw, 2760px);
  height: min(170vh, 1440px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-out;
  gap: 1rem;
}


/* Distribution des 13 éléments .grid__item */
.grid__item:nth-child(1)  { grid-area: 8 / 14 / span 4 / span 6; }
.grid__item:nth-child(2)  { grid-area: 3 / 17 / span 2 / span 3; }
.grid__item:nth-child(3)  { grid-area: 2 / 25 / span 2 / span 2; }
.grid__item:nth-child(4)  { grid-area: 5 / 5 / span 3 / span 2; }
.grid__item:nth-child(5)  { grid-area: 7 / 10 / span 3 / span 2; }
.grid__item:nth-child(6)  { grid-area: 10 / 22 / span 3 / span 2; }
.grid__item:nth-child(7)  { grid-area: 9 / 3 / span 3 / span 2; }
.grid__item:nth-child(8)  { grid-area: 12 / 8 / span 2 / span 3; }
.grid__item:nth-child(9)  { grid-area: 5 / 24 / span 3 / span 2; }
.grid__item:nth-child(10) { grid-area: 15 / 6 / span 3 / span 3; }
.grid__item:nth-child(11) { grid-area: 15 / 14 / span 2 / span 2; }
.grid__item:nth-child(12) { grid-area: 12 / 26 / span 2 / span 3; }
.grid__item:nth-child(13) { grid-area: 7 / 29 / span 3 / span 2; }

/* Couleurs de bordure différentes pour chaque .grid__item */
.grid__item:nth-child(1)  { border-color: #FF0000; } /* Rouge */
.grid__item:nth-child(2)  { border-color: #00FF00; } /* Vert */
.grid__item:nth-child(3)  { border-color: #0000FF; } /* Bleu */
.grid__item:nth-child(4)  { border-color: #FFFF00; } /* Jaune */
.grid__item:nth-child(5)  { border-color: #FF00FF; } /* Magenta */
.grid__item:nth-child(6)  { border-color: #00FFFF; } /* Cyan */
.grid__item:nth-child(7)  { border-color: #FFA500; } /* Orange */
.grid__item:nth-child(8)  { border-color: #800080; }
.grid__item:nth-child(9)  { border-color: #008000; } /* Vert foncé */
.grid__item:nth-child(10) { border-color: #8888fd; } 
.grid__item:nth-child(11) { border-color: #FFC0CB; } /* Rose */
.grid__item:nth-child(12) { border-color: #c615b4; } /* Marron */
.grid__item:nth-child(13) { border-color: #808080; } /* Gris */


/* Styles de base pour tous les .grid__item */
.grid__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: 3px solid; /* Suppression de la couleur rouge */
}

.grid__item img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


/* Styles pour les éléments avec data-aspect="portrait" */
/* .grid__item[data-aspect="portrait"] img {
  max-width: 15em;
  max-height: 25em;
  width: auto;
  height: auto;
  object-fit: cover;
} */

/* Styles pour les éléments avec data-aspect="landscape" */
/* .grid__item[data-aspect="landscape"] img {
  max-width: 25em;
  max-height: 20em;
  width: auto;
  height: auto;
  object-fit: cover;
} */


